<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>

    <script src="../static/js/lib/jq.js"></script>
    <!-- Scripts
    ============================================= -->
    {% block scripts %}{% endblock %}
  </head>

<body>
    {% block content %}{% endblock %}
</body>
</html>
