<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/paho-mqttws31.js"></script>
    <script src="../static/js/mqtt.js"></script>
    <script src="../static/js/templates.js"></script>
    <script src="../static/js/validation.js"></script>
    <script src="../static/js/gamefunctions.js"></script>
    <script src="../static/js/game.js"></script>
</head>
<body>
    <div id="gamewindow">
    </div>
</body>
</html>