{% extends "base.html" %}
{% block scripts %}
  <script src="../static/js/main.js"></script>
{% endblock %}
{% block content %}
<div class="o-container u-justify-bottom">
  <header class="c-startpage-header">
    <h1>
      Twister Name
    </h1>
  </header>
  <main class="c-startpage-main">
    <img class="c-startpage-image" src="../static/img/logo.png" alt="logo Twister">
    <a href="/initgame"><button class="o-button c-startpage-button"><span>start</span></button></a>
  </main>
</div>
{% endblock %}