<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="o-container u-align-bottom">
    <header class="c-startpage-header">
      <h1>
        Twister Name
      </h1>
    </header>
    <main class="c-startpage-main">
      <img class="c-startpage-image" src="../static/img/logo.png" alt="logo Twister">
      <button class="o-button c-startpage-button"><a href="login.html">start</a></button>
    </main>
  </div>
  </body>
</html>