<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
     
    <!-- Scripts 
    ============================================= -->
    <script src="../static/js/added/validation.js"></script>
    <script src="../static/js/added/templates.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>
</head>
<body>
    <div class="o-container u-background-color-green">
        <nav class="o-nav o-nav-white c-nav_info">
            <a href="/initgame" class="o-backbutton o-backbutton_white">
                <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                <p>Back</p>
            </a>
        </nav>
        <main class="c-info">
            <h1>Twister</h1>
            <img class="c-info-image" src="../static/img/twistermat.png" alt="twistermat">
            <h2>Hoe speel je het?</h2>
            <p class="c-info-text">
                Iedere speler krijgt om de beurt een actie.
                Een actie bestaat uit een kleur en een lichaamsdeel.
                De speler moet dan deze actie uitvoeren op de twistermat.
                Wanneer de speler dit niet kan doen verliest hij/zij.
                De verloren speler moet dan van de twistermat en op doorgaan drukken zodat de andere spelers kunnen verder spelen. 
            </p>
            <div class="c-info_maxPlayers">
                <h3 class="c-info-maxPlayers_text">max players: 4</h3>
                <div class="c-info-maxPlayers_icons">
                    <img class="c-info-maxPlayers_icon" src="../static/img/person.png" alt="person">
                    <img class="c-info-maxPlayers_icon" src="../static/img/person.png" alt="person">
                    <img class="c-info-maxPlayers_icon" src="../static/img/person.png" alt="person">
                    <img class="c-info-maxPlayers_icon" src="../static/img/person.png" alt="person">
                </div>
            </div>
        </main>
        <footer class="c-footer-tutorial">
            <div class="c-footer-navigation">
                 <button onclick="location.href='infopageTwister.html'" class="c-footer-tutorial_button c-footer-tutorial_button_green c-footer-tutorial_button__white"></button>
                 <button onclick="location.href='infopageMemory.html'" class="c-footer-tutorial_button c-footer-tutorial_button_green"></button>
            </div>
         </footer>
</body>
</html>