<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src=""></script>
</head>
<body>
    <div class="o-container c-loginpage">
        <nav class="o-nav o-nav-white">
            <a href="/" class="o-backbutton o-backbutton_white">
                <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                <p>Back</p>
            </a>
            <div>hamburger</div>
        </nav>
        <main class="c-loginpage-main">
            <button class="o-button"><a href="/game">play as guest</a></button>
            <p class="c-loginpage-text">or</p>
            <button class="o-button"><a href="/login">login</a></button>
        </main>
    </div>
</body>
</html>