<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src=""></script>
</head>
<body>
    <div class="o-container u-background-color-red">
        <h1>login/register page</h1>
    </div>
</body>
</html>