<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/added/validation.js"></script>
    <script src="../static/js/added/templates.js"></script>
    <script src="../static/js/initgame.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>
</head>
<body>
    <div class="o-container u-background-color-green u-justify-bottom">
        <nav class="o-nav o-nav-white">
            <a href="/" class="o-backbutton o-backbutton_white">
                <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                <p>Back</p>
            </a>
        </nav>
        <main class="c-memory">
            <h1>Memory</h1>
            <div class="c-memory_mat">
                <!--hier begint items mat-->
                <div class="c-memory-buttons">
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_1"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_2"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue" id="memory-vak_3"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_4"></div>
                        </div>
                    </div>
                    <!--row 2-->
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_5"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_6"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue" id="memory-vak_7"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_8"></div>
                        </div>
                    </div>
                    <!--row 3-->
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_9"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_10"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue c-memory-active" id="memory-vak_11"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_12"></div>
                        </div>
                    </div>
                    <!--row 4-->
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_13"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_14"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue" id="memory-vak_15"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_16"></div>
                        </div>
                    </div>
                    <!--row 5-->
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_17"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_18"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue" id="memory-vak_19"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_20"></div>
                        </div>
                    </div>
                    <!--row 6-->
                    <div class="c-memory_mat-row">
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-green" id="memory-vak_21"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-yellow" id="memory-vak_22"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-blue" id="memory-vak_23"></div>
                        </div>
                        <div class="c-memory-vakwrap">
                            <div class="c-memory_mat-vak c-memory_mat-vak__color-red" id="memory-vak_24"></div>
                        </div>
                    </div>
                </div>
                <!--hier eindigt vakken mat-->
            </div>
            <div class="c-memory-voorkant">
                <img class="c-memory-arrow" src="../static/img/arrow-white.png" alt="arrow">
                <p>voorkant</p>
            </div>
        </main>
    </div>
</body>
</html>