<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/test2.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>
</head>
<body>
    <div class="o-container u-background-color-green u-justify-bottom">
        <nav class="o-nav o-nav-white">
            <a href="/" class="o-backbutton o-backbutton_white">
                <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                <p>Back</p>
            </a>
        </nav>
        <main class="c-memory">
            <h1>Memory</h1>
            <div class="c-memory_mat">
                <div class="c-memory-buttons" id="buttonfield">
                </div>
            </div>
            <div class="c-memory-voorkant">
                <img class="c-memory-arrow" src="../static/img/arrow-white.png" alt="arrow">
                <p>voorkant</p>
            </div>
        </main>
    </div>
</body>
</html>