{% extends "base.html" %}
{% block scripts %}
    <script src="../static/js/scores.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>
{% endblock %}
{% block content %}
    <div class="o-container u-justify-bottom u-background-color-green">
        <nav class="o-nav c-nav-score">
        <a href="/initgame" class="o-backbutton">
            <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
            <p class="o-backbutton-white">Terug</p>
        </a>
        </nav> 
        <main class="c-score">
            <h1>scoreborden</h1>
            <div class="c-score-filter">
                <button class="c-score-filter-button" id="BtnPrevGamemode">
                    <img class="c-score-filter-arrows" src="../static/img/arrow-white.png" alt="arrow left">
                </button>
                <p id="txtgamemodenav">{{gamemode}}</p>
                <button class="c-score-filter-button" id="BtnNextGamemode">
                    <img class="c-score-filter-arrows c-score-filter-arrows-rotation" src="../static/img/arrow-white.png" alt="arrow left">
                </button>
            </div>
            <div class="c-scoreboard_container" id="scoreboard">
                <!--hier begint de score-->
                {% for score in gamescores %}
                <div class="c-scoreboard">
                    <div class="c-place">
                        <p>{{loop.index}}</p>
                    </div>  
                    <div class="c-nameboard">
                        {% if loop.index == 1 %}
                            <img class="c-nameboard-img" src="../static/img/crown-white.png" alt="crown">
                        {% endif %}
                        <p class="c-nameboard-name">{{score.name}}</p>
                    </div>  
                    <div class="c-scorePlayer" id="#">
                        <p>{{score.score}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </main>
        <footer class="o-footer u-footer-background-color-green u-footer-border-color-green">
            <button type="button" class="o-button-large" id="BtnScoresHome"><span>Doorgaan</span></button>
        </footer>
    </div>
{% endblock %}