<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    <script src="../static/js/added/templates.js"></script>
    <script src="../static/js/testjs.js"></script>
</head>
<body>
    <div class="o-container u-justify-bottom u-background-color-white"> 
        <nav class="o-nav">
            <a href="#" class="o-backbutton">
                <img class="o-backbutton_img" src="../static/img/arrow-grey.png" alt="arrow back">
                <p class="o-backbutton-grey">Back</p>
            </a>
        </nav> 
        <main class="c-victory">
            <h1>game finished</h1>
            <img class="c-victory_img" src="../static/img/crown.svg" alt="victory crown">
            <p class="c-victory_text">player:</p>
            <p class="c-victory_text-big" id="currentplayer">${player_info[0].name}</p>
            <p>won with a score of</p>
            <p class="c-victory_text-number" id="#">${player_info[0].score}</p>
        </main>
        <footer class="o-footer u-footer-background-color-green u-footer-border-color-green">
            <button type="button" class="o-button-large" id="Continue">Next</button>
        </footer>
    </div>
</body>