<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <script src="../static/js/testjs.js"></script>
</head>
<body>
    <div id="gamewindow">
        <div class="o-container u-justify-bottom u-background-color-${color} u-textcolor-${textcolor}">
            <nav class="o-nav">
                <a href="#" class="o-backbutton">
                    <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                    <p class="o-backbutton_white">Back</p>
                </a>
            </nav> 
            <main class="c-gamemode-twister u-color-white">
                <h1 id="twistermovelimb">right foot</h1>
                <img class="c-gamemode-twister__image" id="imgtwisterlimb">
                <div id="timer" class="c-gamemode-twister-info">
                </div>
                <p id="twistermovecolor" class="c-gamemode-twister__color"></p>
            </main>
            <footer class="o-footer u-footer-background-color-${color} u-footer-border-color-${color} c-gamemode-twister__footer">
                <div class="o-row">
                    <p>player: </p>
                    <label class="c-gamemode-twister__name" id="currentplayer"></label>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>