<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />

     <!-- Scripts
        ============================================= -->
       
</head>
<body>
    <div class="o-row">
        <label class="custom-select-label" for="GameMode">Gamemode:</label>
        <select id="GameMode" style=' width: 268px;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 5px;
        height: 34px;
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
        -webkit-appearance: none;
        background-position-x: 244px;
        outline: none
  ;'>
            <option value="Twister-Classic">Twister Classic</option>
            <option value="Simon-says" >Simon Says</option>
        </select>
        </div>
    </div>
   
</body>