<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/test2.js"></script>
</head>
<body>
    <div class="o-container u-justify-bottom u-background-color-green">
        <nav class="o-nav c-nav-score">
        <a href="/initgame" class="o-backbutton">
            <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
            <p class="o-backbutton-white">Back</p>
        </a>
        </nav> 
        <main class="c-score">
            <h1>score</h1>
            <div class="c-scoreboard_container" id="scoreboard">
                <!--hier begint de score-->
            </div>
        </main>
        <footer class="o-footer u-footer-background-color-green u-footer-border-color-green">
            <button type="button" class="o-button-large" id="Continue"><span>continue</span></button>
        </footer>
    </div>
</body>
</html>