<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <script src="../static/js/testjs.js"></script>
</head>
<body>
    <div class="o-container u-background-color-green u-justify-bottom">
        <nav class="o-nav o-nav-white">
            <a href="/" class="o-backbutton o-backbutton_white">
                <img class="o-backbutton_img" src="../static/img/arrow-white.png" alt="arrow back">
                <p>Back</p>
            </a>
            <div class="c-hamburgerNav">
            <button id="nav_button" onclick="nav_drop()">
                <img src="../static/img/hamburger.svg" alt="navigation"></button>
            <div id="hidden_nav">
                <div class="hidden_nav-line hidden_nav-firstline">
                <a href="#"><p>leaderboards</p></a>
                <img src="../static/img/nav-back.svg" alt="go back" onclick="nav_drop()">
                </div>
                <div class="hidden_nav-line hidden_nav-lastline">
                    <a href="#">settings</a>
                </div>
            </div>
        </div>
        <script> 
            function nav_drop(){
                var hv = document.getElementById("hidden_nav"); 
                var nb = document.getElementById('nav_button');
                if(hv.style.display == "flex"){
                    hv.style.display = "none";
                    nb.style.borderRadius = "1rem";
                }
                else{
                    hv.style.display = "flex";
                    nb.style.borderRadius = "1rem 1rem 0 0";
                }
            }
        </script>
        </nav>
        <main class="c-SelectGameOptions">
            <div class="o-row">
                <label class="c-custom-select-label" for="GameMode">Gamemode:</label>
                <select id="GameMode" class="o-select">
                    <option value="Twister-Classic">Twister Classic</option>
                    <option value="Memory" >Memory</option>
                </select>
            </div>
            <div id="GameSettings" class="o-row">
                <div class="o-row">
                <label class="c-custom-select-label" for="GameTimer">Timer:</label>
                <div class="c-numberPlayers-slider">   
                    <div class="o-slider-wrap">         
                        <input type="range" min="0" max="30" value="10" class="o-slider c-slider" id="GameTimer">
                        <span class="o-NumberTimerValue"></span>
                    </div>
                </div> 
                </div> 
                <div>
                    <div class="o-row">
                        <label class="c-custom-select-label" for="GameActions">Actions:</label>
                        <select id="GameActions" class="o-select">
                            <option value="null" selected>None</option>
                            <option value="ActionList1">ActionList1</option>
                            <option value="ActionList2">ActionList2</option>
                        </select>
                    </div>
                </div>
            </div>
        </main>
        <footer class="o-footer u-footer-background-color-green u-footer-border-color-green">
            <button type="button" class="o-button-large" id="BtnValidateGameOptions">play</button>
        </footer>
    </div>
</body>