<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twister</title>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/screen.css" />
    
    <!-- Scripts
    ============================================= -->
    <script src="../static/js/added/validation.js"></script>
    <script src="../static/js/added/templates.js"></script>
    <script src="../static/js/initgame.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='../static/img/logo.png'>
</head>
<body>
    <div class="o-container u-background-color-red">
        <nav class="o-nav o-nav-white">
            <a class="o-backbutton o-backbutton_white">
                <!--empty item for space-between (only tutorial)-->
            </a>
            <a href="#" class="o-backbutton o-backbutton_white">
                skip
            </a>
        </nav>
        <main class="c-tutorial">
            <h1 class="c-tutorial-title_with-image">First select a gamemode</h1>
            <img class="c-tutorial-image" src="../static/img/phone.png" alt="phone">
            <p class="c-tutorial__text-image">Twister 2.0 has a wide variety of unique
                gamemodes that you can play with
                your friends! </p>
            <button class="o-button"><a href="tutorialpage3.html">continue</a></button>
        </main>
        <footer class="c-footer-tutorial">
           <div class="c-footer-navigation">
                <button onclick="location.href='tutorialpage1.html'" class="c-footer-tutorial_button c-footer-tutorial_button_red"></button>
                <button onclick="location.href='tutorialpage2.html'" class="c-footer-tutorial_button c-footer-tutorial_button_red c-footer-tutorial_button__white"></button>
                <button onclick="location.href='tutorialpage3.html'" class="c-footer-tutorial_button c-footer-tutorial_button_red"></button>
           </div>
        </footer>
    </div>
   
</body>